<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>apricot</string>
		<key>img</key>
		<string>apricot.jpeg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>apple</string>
		<key>img</key>
		<string>apple</string>
	</dict>
	<dict>
		<key>name</key>
		<string>banana</string>
		<key>img</key>
		<string>banana.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pear</string>
		<key>img</key>
		<string>pear.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>orange</string>
		<key>img</key>
		<string>orange.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>watermelon</string>
		<key>img</key>
		<string>watermelon.jpeg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>peach</string>
		<key>img</key>
		<string>peach.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lemon</string>
		<key>img</key>
		<string>lemon.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tomato</string>
		<key>img</key>
		<string>tomato.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mango</string>
		<key>img</key>
		<string>mango.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiwifruit</string>
		<key>img</key>
		<string>kiwifruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>durian</string>
		<key>img</key>
		<string>durian.jpeg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pineapple</string>
		<key>img</key>
		<string>pineapple.png</string>
	</dict>
</array>
</plist>
