<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>apple</string>
    </dict>
    <dict>
        <key>name</key>
        <string>banana</string>
    </dict>
    <dict>
        <key>name</key>
        <string>pear</string>
    </dict>
    <dict>
        <key>name</key>
        <string>orange</string>
    </dict>
    <dict>
        <key>name</key>
        <string>watermelon</string>
    </dict>
    <dict>
        <key>name</key>
        <string>jujube</string>
    </dict>
    <dict>
        <key>name</key>
        <string>grapefruit</string>
    </dict>
</array>
</plist>
